.content{
    margin-top: 150px;
    width: 32rem;
    background-color: rgb(20, 20, 87,0.7);
    height: 10rem;
    align-items: center;
    border-radius: 15px;
}
.result{
    font-size: 30px;
    align-items: center;
    padding-top: 60px;
}
.remarks{
    color: white;
    font-size: medium;
    font-weight: 700;
    text-transform: uppercase;

}